@import "./utilities/variables";

$primary-color: #00539b;
$body-color: #fafafa;

/* UNIVERSAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: $body-color;
}

.wrapper-body {
  width: 95%;
  margin: 50px auto;
}

/* HEADER */

ul.header__nav--ul {
  margin: 0;
  padding: 2px;
}

.header__nav--ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: $primary-color;
  border-bottom: 3px solid black;
}

.header__nav--item {
  margin-right: 10px;
  border-right: 3px solid black;
  padding: 10px;

  a {
    text-decoration: none;
    color: #f2f2f2;

    &:hover {
      text-decoration-line: overline underline;
      color: #ffffff;
    }
  }
}

/* HEADING */
h1 {
  font-size: 3rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  text-align: center;
}

.laptop-section {
  img {
    width: 300px;
  }

  .row {
    h3 {
      margin-top: 10px;
    }
  }

  &__div,
  &-productos {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

#section__hero {
  background-image: url("./imagenes/Zephyrus/01__kv.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    align-items: center;
    color: #f2f2f2;
  }
}

/* BODY */

.col-4 {
  border: solid 1px blue;
}

.asus-laptop {
  margin: 5px;
}

.asus-laptop ul li {
  list-style-type: none;
}

p {
  margin-top: 10px;
}

.section__h1--p {
  margin-top: 10px;
}

footer {
  background-color: $primary-color;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
}

.gallery img {
  max-width: 500px;
}

.laptop__section--asustuf {
  width: 300px;
}

.laptop__section--asustuf,
.laptop__section--asuszephyrus {
  margin-top: 50px;
}

/* CTA */
.section--cta {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #24292e;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 50px;

  &:hover {
    background-color: #e9ecef; /* Lighter gray background color on hover */
  }

  h2 {
    margin-bottom: 10px; /* Add some space below the heading */
  }

  p {
    margin-bottom: 20px; /* Add some space below the paragraph */
  }

  a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline from links */
    display: block; /* Display the icon as a block element */
    margin: 0 auto; /* Center the icon horizontally */
    width: 40px; /* Set the width of the icon */
    height: 40px; /* Set the height of the icon */
    line-height: 40px; /* Center the icon vertically */
    background-color: #007bff; /* Background color of the icon */
    color: white; /* Icon color */
    border-radius: 50%; /* Make the icon round */
  }
}

/* Galeria de imagenes  */

.laptop-section-productos,
.comparacion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  justify-items: center;

  article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    padding: 10px;
  }
}

/* formulario */

.section--formulario {
  width: 50%;
  margin: 10px auto;
  background-color: #fafafa;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// section separador
/* Curved section separator */


@media (max-width: 1280px) {
  .section--formulario {
    width: 90%;
  }

  .wrapper-body {
    width: 95%;
  }

  .laptop-section-productos,
  .comparacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: stretch;
    justify-items: center;
    margin: auto;

    article {
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      padding: 10px;
    }
  }

  .about {
    margin-left: 10px;
  }
}

@media (max-width: 890px) {
  .section--formulario {
    width: 90%;
  }

  .wrapper-body {
    width: 95%;
  }
}

@media (max-width: 620px) {
  /* Estilos para pantallas menores a 580px */

  .wrapper-body {
    width: 95%;
    margin: auto;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .header__nav--item {
    font-size: 0.5rem;
  }

  .laptop-section-productos,
  .comparacion {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section--formulario {
    width: 90%;
  }
}
